.container {
  display: flex;
  box-sizing: border-box;
  font-family:'Inter', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #ff6b81, #ff9a9e, #ff4500, #ffcccb, #f27e31, #f5d056, #e2ff0a, #f6e58d, #4cd137,#48bb78, #00cec9,  #74b9ff, #a29bfe, #5ab5e7, #68c9ef);
  margin: 0!important;
  background-size: 400% 400%;
  animation: gradient 1.5s ease infinite;
  overflow: hidden;
}


.label {
  border-radius: 15%;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

@keyframes grow2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.emojiButton {
  font-size: 5rem;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1000; /* add z-index to keep the button on top of the released emojis */
  overflow: hidden;  
  transition: transform 0.3s;
  animation: grow 15s ease-in-out infinite;
  -webkit-tap-highlight-color: transparent;
  filter: drop-shadow(5px 5px);
}

.emojiButton::-moz-focus-inner {
  border: 0;
}

#dopest::-moz-focus-inner {
  border: 0;
}

.emoji {
  position: absolute;
  outline: none;
  z-index: 0; /* set z-index value lower than the button */
  overflow: hidden;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
  animation: grow2 8s ease-in-out infinite;
  pointer-events: none; /* add this line to prevent cursor interaction with emojis */
}

.emoji::-moz-focus-inner {
  border: 0;
}

@keyframes emojiAnimation {
  /* Customize this keyframe animation for the desired effects */
  0% { transform: scale(1); }
  50% { transform: scale(1.5) rotate(180deg); }
  100% { transform: scale(1) rotate(360deg); }
}

.swell {
  animation: swellAnimation 2s forwards infinite;
  outline: none;
  overflow: hidden;
}

.shrink {
  animation: shrinkAnimation 3s forwards infinite;
  outline: none;
  overflow: hidden;
}

@keyframes swellAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(2.2); }
  100% { transform: scale(3); }
}

@keyframes shrinkAnimation {
  0% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes falling {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0) rotate(0deg);
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translate3d(50%, 50%, 0) rotate(180deg);
  }
  75% {
    transform: translate3d(-50%, 50%, 0) rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 150%, 0) rotate(720deg);
  }
}

/* Dopamine.module.css */
/* ...previous styles... */

@keyframes flip {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes sparkle {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}


.shareButton {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 5px; /* Add a margin to separate buttons */
}

.shareButton:focus {
  outline: none;
}

.growButton {
    right: 120px;
}

.waveButton {
    right: 80px;
}

.heartButton {
  right: 40px;
}

.rocketButton {
}


/* Dopamine.module.css */
/* ...previous styles... */

.buttonContainer {
  position: absolute;
  top: 10px;
  right: 1px;
  /* display: flex; */
  /* flex-direction: row; */
  z-index: 1001; /* set z-index value higher than the button and emojis */
}

@media (max-width: 768px) {
  .shareButton {
    margin-right: -25px; /* Decrease the margin to avoid spacing issues on mobile devices */
  }
}
